#-e git+https://github.com/pyannote/pyannote-audio.git@7e382e9daada2d35bfef2dc4ad7ba90a2eb88c1d#egg=pyannote.audio
pyannote.core==4.1
pyannote.database==4.0.2
pyannote.db.voxceleb==1.0.2
pyannote.metrics==3.0.1
pyannote.pipeline==1.5.2
 
